@model APPBASE.Models.PATransaction_DetailVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}



<div class="box invoice">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered">
                <tr><td>
                    @{Html.RenderPartial("_Inputs_PrintpreviewHEAD");}
                </td></tr>
            </table>
        </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->

    <div class="row">
        <div class="col-xs-12">
            @{Html.RenderPartial("_Inputs_PrintpreviewCPY");}
        </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->

    <div class="row">
        <div class="col-xs-12">
            @{Html.RenderPartial("_Inputs_PrintpreviewCPYFOOT");}
        </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->

    @if ((Model.KPI == null) || (Model.KPI.Count <= 0)) {
            <div class="row">
                <div class="col-xs-6 pull-right">
                    @{Html.RenderPartial("_Inputs_PrintpreviewFOOT");}
                </div> <!-- /.col-xs-12 -->
            </div> <!-- /.row -->
    }
</div> <!-- /.invoice -->

@if (Model.KPI != null)
{
    if (Model.KPI.Count > 0)
    {
        <div class="box invoice">
            <div class="row">
                <div class="col-xs-12">
                    @{Html.RenderPartial("_Inputs_PrintpreviewKPI");}
                </div> <!-- /.col-xs-12 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-xs-6 pull-right">
                    @{Html.RenderPartial("_Inputs_PrintpreviewFOOT");}
                </div> <!-- /.col-xs-12 -->
            </div> <!-- /.row -->
        </div> <!-- /.invoice -->
    }
}

