<!-- Confirm Calculation -->
<div class="alert alert-warning alert-dismissable">
    <i class="fa fa-warning"></i>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <b>Konfirmasi</b> Lanjutkan proses perhitungan? <button type="submit" class="btn btn-warning btn-flat">Lanjutkan</button>
</div>
