@{
    ViewBag.Title = "Hapus Data Complain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Apakah Complain mau dihapus?</h3>
<fieldset>
    @{Html.RenderPartial("_Details");}
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <button type="submit" class="btn btn-default">Hapus Complain</button> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
