@model APPBASE.Models.PAEvaluator_DetailVM
@using APPBASE.Helpers

@{Boolean isReadytosave = false;}
@{string vsCommandCRUD = "Lanjutkan";}
@if (Model != null) { isReadytosave = true; vsCommandCRUD = "Simpan Data"; }

@{
    ViewBag.Title = "Informasi Pengaturan Otorisasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}



<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
            @{Html.RenderPartial("_Inputs_pre");}
            @if (isReadytosave) { Html.RenderPartial("_Inputs"); }
        </section><!-- /.col-lg-7 connectedSortable -->
    
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">
            @if (isReadytosave) { Html.RenderPartial("_Inputs_auth"); }
        </section><!-- /.col-lg-5 connectedSortable -->
    </div><!-- /.box-body -->
    <div class="box-footer">
        <div class="row">
            <div class="col-xs-12">
                <a href="@Url.Action("Edit", new { id = Model.RES_RUID})" class="btn btn-flat btn-sm btn-warning" style="color:White;"><i class="fa fa-edit "></i> Rubah</a>
                <a href="@Url.Action("Delete", new { id = Model.RES_RUID })" class="btn btn-flat btn-sm btn-danger" style="color:White;"><i class="fa fa-trash-o"></i> Hapus</a>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div><!-- /.row -->
    </div><!-- /.box-footer -->
</div><!-- /.box -->

@section scripts {

<!-- Modal -->
@{Html.RenderPartial("_Events");}

}

