@model APPBASE.Models.Longleave_DetailVM
@using APPBASE.Helpers


<div class="row">
    <div class="col-md-5 col-sm-4">
        @{Html.RenderPartial("_Inputs_main");}
    </div><!-- /.col (LEFT) -->
    <div class="col-md-7 col-sm-8">
        @{Html.RenderPartial("_Inputs_leave");}
    </div><!-- /.col (RIGHT) -->
</div><!-- /.row -->
