@{
    ViewBag.Title = "Informasi Cuti Besar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section TitleIcon {
    <i class="fa fa-eye"></i>
}
@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}



<div class="box box-success">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        @{Html.RenderPartial("_Inputs");}
    </div><!-- /.box-body -->
    <div class="box-footer">
        <div class="row">
            <div class="col-xs-12">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div><!-- /.row -->
    </div><!-- /.box-footer -->
</div><!-- /.box -->

@section scripts {

<!-- Modal -->
@{Html.RenderPartial("_Events");}

}
