
<!-- Info Cuti Besar -->
<div class="box box-success">
    <div class="box-header">
        <i class="fa fa-clock-o"></i>
        <h3 class="box-title">Info Absensi Hari Ini</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <ul class="todo-list">
            <!-- 1 Bulan -->
            <li>
                <!-- drag handle -->
                <span class="handle">
                    <i class="fa fa-circle-o"></i>
                </span>
                <!-- todo text -->
                <span class="text">CDTP</span>
                <!-- Emphasis label -->
                <small class="label label-danger"><i class="fa fa-clock-o"></i> 2 orang</small>
            </li><!-- 1 Bulan -->
            <!-- 3 Bulan -->
            <li>
                <!-- drag handle -->
                <span class="handle">
                    <i class="fa fa-circle-o"></i>
                </span>
                <!-- todo text -->
                <span class="text">Izin</span>
                <!-- Emphasis label -->
                <small class="label label-warning"><i class="fa fa-clock-o"></i> 10 orang</small>
            </li><!-- 3 Bulan -->
            <!-- 6 Bulan -->
            <li>
                <!-- drag handle -->
                <span class="handle">
                    <i class="fa fa-circle-o"></i>
                </span>
                <!-- todo text -->
                <span class="text">Tidak Ada Kabar</span>
                <!-- Emphasis label -->
                <small class="label label-success"><i class="fa fa-clock-o"></i> 50 orang</small>
            </li><!-- 6 Bulan -->
            <!-- Belum Dapat Cuti Besar -->
            <li>
                <!-- drag handle -->
                <span class="handle">
                    <i class="fa fa-circle-o"></i>
                </span>
                <!-- todo text -->
                <span class="text">Cuti</span>
                <!-- Emphasis label -->
                <small class="label label-info"><i class="fa fa-clock-o"></i> 115 orang</small>
            </li><!-- Belum Dapat Cuti Besar -->
        </ul>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix no-border">
    </div>
</div><!-- /.box -->
