@model APPBASE.Models.PAEmployeejobtitle_DetailVM
@using APPBASE.Helpers

@{
    ViewBag.Title = "Informasi Klasifikasi Pekerjaan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}



<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        @{Html.RenderPartial("_Inputs");}
    </div><!-- /.box-body -->
    <div class="box-footer">
        <div class="row">
            <div class="col-xs-12">
                <a href="@Url.Action("Edit", new { id = Model.RUID})" class="btn btn-flat btn-sm btn-warning" style="color:White;"><i class="fa fa-edit "></i> Rubah</a>
                <a href="@Url.Action("Delete", new { id = Model.RUID })" class="btn btn-flat btn-sm btn-danger" style="color:White;"><i class="fa fa-trash-o"></i> Hapus</a>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div><!-- /.row -->
    </div><!-- /.box-footer -->
</div><!-- /.box -->

@section scripts {

<!-- Modal -->
@{Html.RenderPartial("_Events");}

}

