@{
    ViewBag.Title = "Detil Proyek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<fieldset>
    @{Html.RenderPartial("_Details");}
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RUID }) |
    @Html.ActionLink("Kembali", "Index")
</p>
